/*=== global css start === */
* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ol, ul, p, address, strong, i {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

/*===// end of global css === */
/*=== config css start === */
@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url(../fonts/HelveticaNeue_Light.ttf);
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url(../fonts/HelveticaNeue.ttf);
}

@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: url(../fonts/HelveticaNeue_Medium.ttf);
}

@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url(../fonts/HelveticaNeue_Bold.ttf);
}

body {
  font-family: 'HelveticaNeue', sans-serif;
  background: #16455B;
  color: #00B0FF;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

/*===// end of config css === */
/*=== utility css start === */
.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

@media (min-width: 992px) {
  .w-lg-75 {
    width: 75%;
  }
}

.bg-light-blue {
  background-color: #16455B;
}

.bg-blue {
  background-color: #00354D;
}

.bg-dark-blue {
  background-color: #001D2B;
}

.text-yellow {
  color: #FFB40B !important;
}

.list-style-ellipsis li {
  list-style: disc;
}

.list-space-5 li {
  padding: 2.5px;
}

.list-space-10 li {
  padding: 5px;
}

/*===// end of utility css === */
/*=== common css start === */
.section-heading {
  font-family: 'HelveticaNeue-Bold';
  position: relative;
  margin-bottom: 30px;
  padding: 10px 0;
}

.section-heading::before {
  content: '';
  width: 200px;
  height: 7px;
  position: absolute;
  top: 100%;
  left: 0;
  background: #00B0FF;
}

.para {
  color: #fff;
}

.para-lg {
  color: #fff;
  font-size: 18px;
}

.card {
  background: transparent;
  border: 3px solid #FFB40B;
  border-radius: 7px;
}

.widget-card-parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(180px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 15px;
  row-gap: 30px;
}

.widget-card {
  border-width: 2px;
  color: #fff;
  position: relative;
  padding: 10px 5px 40px 5px;
}

.widget-card p {
  font-size: 14px;
}

.widget-card span {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  bottom: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #FFB40B;
  font-size: 30px;
  line-height: 60px;
}

.profile-card {
  position: relative;
  height: 100%;
}

.profile-card .top-icon {
  width: 60px;
  height: 60px;
  position: absolute;
  top: -30px;
  right: -30px;
  z-index: 1;
  background: #00354D;
}

.profile-card-2 {
  position: relative;
  height: 100%;
}

.profile-card-2 .top-icon {
  height: 60px;
  position: absolute;
  top: -30px;
  left: 15px;
  padding: 0 10px;
  z-index: 1;
}

.profile-card-2 .top-icon img {
  width: 60px;
  height: 60px;
}

.website-link {
  font-family: 'HelveticaNeue-Bold';
  font-size: 1.75rem;
  opacity: 0.4;
  text-align: center;
  position: relative;
  z-index: 10;
}

@media (max-width: 767px) {
  .website-link {
    font-size: 1rem;
  }
}

.list-item {
  width: 100%;
}

.list-item li {
  border-bottom: 1px solid #00B0FF;
  padding: 2px 0;
}

.border-bottom {
  border-bottom: 6px solid #FFB40B !important;
}

.dotted-divider-blue {
  border-bottom: 2px dotted #00B0FF;
}

.dotted-divider-blue.w-90 {
  max-width: 90%;
}

/*===// end of common css === */
/*=== component start === */
.header {
  background: url(../images/bg-dashboard.jpg) no-repeat center center/cover;
}

.header .container {
  height: 100vh;
  position: relative;
}

@media (max-width: 766px) {
  .header .container {
    height: 45vh;
  }
}

.header .container .report-date {
  font-family: 'HelveticaNeue-Medium';
  position: absolute;
  bottom: 30px;
  right: 20px;
  z-index: 1;
  color: #fff;
}

.what-is .card-row {
  margin-top: 40px;
}

.what-is .card-row .card {
  height: 100%;
  color: #fff;
  padding: 10px 0;
}

.what-is .card-row .card .title {
  margin-bottom: 40px;
}

.what-is .card-row .card ul {
  margin-top: -20px;
}

.insurance-consultancy-footer {
  background: #00354D;
  border-top: 10px solid #FFB40B;
  border-bottom: 10px solid #FFB40B;
  margin-top: 40px;
  padding: 30px;
}

.insurance-consultancy-footer footer .icon img {
  width: 100px;
}

.insurance-consultancy-footer footer p {
  font-family: 'HelveticaNeue-Medium';
  font-size: 22px;
  color: #FFB40B;
  padding-left: 20px;
}

.profile-declared .profile-human-image {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 75%;
}

.profile-declared .table tr td:first-child {
  color: #00B0FF;
}

.profile-declared .family .img {
  width: 100px;
  text-align: center;
}

.portfolio-analyzed .analysis-charts {
  margin: auto;
}

@media (min-width: 768px) {
  .portfolio-analyzed .analysis-charts {
    width: 70%;
  }
}

.portfolio-analyzed .analysis-charts .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  border-bottom: 2px dotted #FFB40B;
}

.portfolio-analyzed .analysis-charts .row:last-child {
  border-bottom: none;
}

.risk-management .alert {
  border: 1px solid #00B0FF;
  border-radius: 7px;
}

.risk-management .alert i {
  font-size: 50px;
  margin-right: 15px;
}

.risk-management .rist-factor {
  width: 95%;
  margin: auto;
  padding: 20px 0;
}

.risk-management .rist-factor .divider {
  border-bottom: 2px dotted #FFB40B;
  width: 95%;
  margin-left: auto;
  padding-top: 20px;
}

.portfolio-header .text h4 {
  font-family: 'HelveticaNeue-Medium';
}

.portfolio-header .text .para {
  padding: 5px 0 25px 0;
}

@media (min-width: 1200px) {
  .portfolio-header .text .para {
    white-space: pre-line;
  }
}

.portfolio-header .text ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
}

.portfolio-header .text ul li {
  text-align: center;
  margin-right: 30px;
  width: 60px;
}

@media (max-width: 575px) {
  .portfolio-header .text ul li {
    margin-right: 25px;
    width: 45px;
  }
}

.portfolio-header .text ul li img {
  width: 100%;
}

.portfolio-header .text ul li p {
  font-size: 12px;
  color: #FFB40B;
}

.portfolio-header .chart {
  border: 8px solid rgba(0, 176, 255, 0.4);
  border-radius: 50%;
  padding: 45px;
}

@media (min-width: 768px) and (max-width: 992px) {
  .portfolio-header .chart {
    padding: 25px;
  }
}

@media (max-width: 767px) {
  .portfolio-header .chart {
    padding: 0;
    width: 250px;
    height: 250px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.portfolio-header .border-bottom {
  border-color: rgba(0, 176, 255, 0.4) !important;
  width: 90%;
  margin-top: -8px;
  position: relative;
  border-width: 8px !important;
}

.portfolio-header .border-bottom i {
  color: rgba(0, 176, 255, 0.4);
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 50px;
  line-height: 29px;
}

.portfolio-header .border-bottom.reverse {
  margin-left: auto;
}

.portfolio-header .border-bottom.reverse i {
  right: 0;
  left: auto;
}

.treatment .divider {
  border-bottom: 2px dotted #FFB40B;
  width: 95%;
  margin-left: auto;
  padding-top: 40px;
  margin-bottom: 30px;
}

.treatment .bar-chart {
  width: 25px;
  height: 100%;
  min-height: 150px;
  background: -webkit-gradient(linear, left bottom, left top, from(#FF0000), color-stop(#FFE200), color-stop(#DFE60A), color-stop(#46F739), to(#00892A));
  background: linear-gradient(0deg, #FF0000, #FFE200, #DFE60A, #46F739, #00892A);
}

.gauge {
  margin-bottom: 15px;
}

.gauge p {
  font-size: 16px;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
}

@media (max-width: 991px) {
  .gauge.gauge-big {
    font-size: 85px;
  }
}

.chart-set-card {
  text-align: center;
  color: #fff;
  border-color: #fff;
  font-size: 14px;
  padding: 5px;
}

.chart-set-card .progress-chart .progress-bar-vertical {
  width: 17px;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 20px;
  float: left;
  border-radius: 50px;
  background-color: #494F56 !important;
}

.chart-set-card .progress-chart .progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  transition: height 0.6s ease;
  border-radius: 50px;
}

.chart-set-card .progress-chart .progress-bar-vertical .progress-bar.bg-primary {
  background-color: #0264F7 !important;
}

.chart-set-card .progress-chart .progress-bar-vertical .progress-bar.bg-purple {
  background-color: #F734FF !important;
}

.chart-set-card .progress-chart .progress-bar-vertical .progress-bar.bg-info {
  background-color: #00B0FF !important;
}

.chart-set-card.gauge-chart {
  padding-bottom: 30px;
}

.chart-set-card.gauge-chart .gauge.gauge-sm {
  font-size: 50px;
  margin: auto;
}

.chart-set-card.gauge-chart .gauge.gauge-sm p {
  font-size: 14px;
}

.chart-set-card.gauge-chart .gauge::before {
  border-width: 0.18em;
}

.chart-set-card .doughnut-chart {
  width: 100%;
  height: 100px;
  margin: auto;
}

.progress-circle .circle-progress {
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .progress-circle .circle-progress {
    height: 160px;
  }
}

.progress-circle .circle-progress-value {
  stroke-width: 10px;
}

.progress-circle .circle-progress-circle {
  stroke: white;
  stroke-width: 3px;
  fill: transparent;
}

.progress-circle .circle-progress-text {
  font-family: 'HelveticaNeue-Bold';
  font-size: 30px;
}

.progress-circle.warning {
  background: url("../images/icon/check.png") no-repeat center center;
}

.progress-circle.warning .circle-progress-value {
  stroke: #FFB40B;
}

.progress-circle.warning .circle-progress-text {
  fill: #FFB40B;
}

.progress-circle.success {
  background: url("../images/icon/spin.png") no-repeat center center;
}

.progress-circle.success .circle-progress-value {
  stroke: #00FF31;
}

.progress-circle.success .circle-progress-text {
  fill: #00FF31;
}

.progress-circle.danger {
  background: url("../images/icon/arrow-point.png") no-repeat center center;
}

.progress-circle.danger .circle-progress-value {
  stroke: #FF0000;
}

.progress-circle.danger .circle-progress-text {
  fill: #FF0000;
}

/*===// end of component === */
/*=== ? section start === */
/*===// end of ? section === */
/*=== footer section start === */
.footer .alert {
  border: 1px solid #00B0FF;
  border-radius: 7px;
}

.footer .footer-card {
  text-align: center;
}

.footer .footer-card p {
  padding-bottom: 5px;
}

.footer .footer-card .btn {
  color: #00951D;
  background: #00FF31;
  border: none;
  border-radius: 25px;
  min-width: 100px;
  font-size: 20px;
  font-family: 'HelveticaNeue-Medium';
}

.footer .footer-bottom {
  text-align: center;
}

.footer .footer-bottom .website-link {
  border-bottom: 2px solid #00B0FF;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/*===// end of footer section === */
/*# sourceMappingURL=style.css.map */