// section heading start

.section-heading {
    font-family: 'HelveticaNeue-Bold';
    position: relative;
    margin-bottom: 30px;
    padding: 10px 0;
    
    &::before {
        content: '';
        width: 200px;
        height: 7px;
        position: absolute;
        top: 100%;
        left: 0;
        background: $text-blue;
    }
}
// section heading end



// paragraph start
.para {
    color: $white;
}
.para-lg {
    color: $white;
    font-size: 18px;
}
// paragraph end


// card start
.card {
    background: transparent;
    border: 3px solid $yellow;
    border-radius: 7px;
}

.widget-card-parent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); ;
    grid-gap: 15px;
    row-gap: 30px;
}

.widget-card {
    border-width: 2px;
    color: $white;
    position: relative;
    padding: 10px 5px 40px 5px;

    p {
        font-size: 14px;
    }

    span {
        position: absolute;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        bottom: -25px;
        left: 50%;
        transform: translateX(-50%);
        background: #FFB40B;
        font-size: 30px;
        line-height: 60px;
    }
}

.profile-card{
    position: relative;
    height: 100%;

    .top-icon {
        width: 60px;
        height: 60px;
        position: absolute;
        top: -30px;
        right: -30px;
        z-index: 1;
        background: #00354D;
    }
}


.profile-card-2 {
    position: relative;
    height: 100%;

    .top-icon {
        height: 60px;
        position: absolute;
        top: -30px;
        left: 15px;
        padding: 0 10px;
        z-index: 1;

        img {
            width: 60px;
            height: 60px;
        }
    }
}
// card end

// website-link start
.website-link {
    font-family: 'HelveticaNeue-Bold';
    font-size: 1.75rem;
    opacity: 0.4;
    text-align: center;
    position: relative;
    z-index: 10;

    @media (max-width: 767px) {
        font-size: 1rem;
    }
}
// website-link end


// list-item start
.list-item {
    width: 100%;
    li {
        border-bottom: 1px solid $text-blue;
        padding: 2px 0;
    }
}
// list-item end


// border
.border-bottom {
    border-bottom: 6px solid $yellow !important;
}


// divider
.dotted-divider-blue {
    border-bottom: 2px dotted $text-blue;

    &.w-90 {
        max-width: 90%;
    }
}