.risk-management {
    .alert {
        border: 1px solid $text-blue;
        border-radius: 7px;

        i{
            font-size: 50px;
            margin-right: 15px;
        }
    }

    .rist-factor {
        width: 95%;
        margin: auto;
        padding: 20px 0;

        // .chart {
        //     width: 15%;
        //     margin-right: 30px;
        // }

        // p {
        //     width: 85%;
        // }

        .divider {
            border-bottom: 2px dotted $yellow;
            width: 95%;
            margin-left: auto;
            padding-top: 20px;
        }
    }
}