.treatment {
    .divider {
        border-bottom: 2px dotted #FFB40B;
        width: 95%;
        margin-left: auto;
        padding-top: 40px;
        margin-bottom: 30px;
    }

    .bar-chart {
        width: 25px;
        height: 100%;
        min-height: 150px;
        background: linear-gradient(0deg, #FF0000, #FFE200, #DFE60A, #46F739, #00892A);
    }

}

